h1,h2,h3,li{
    text-align: center;
    font-family:fantasy;
    color: snow;
}


body {
    text-align: center;
 background-image:url("https://media.istockphoto.com/photos/empty-the-top-of-wooden-table-with-blurred-counter-bar-and-bottles-picture-id924418614?k=20&m=924418614&s=170667a&w=0&h=GJlG5IXPdrSIVfos2a_TLAbWy9exXQHczJ8KTnpH0LE=");
}

img {
    width:400px;
    text-align:center;
}
